.features {
    padding-top: 150px;
}


.features__title {
    color: #212353;
    font-size: 40px;
    font-family: Helvetica;
}

.features__paragraph {
    padding-top: 50px;
    width: 584px;
    font-size: 18px;
    line-height: 160%;
    margin-left: 25%;
}

.features__variety {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search__title {
    font-size: 24px;
    line-height: 130%;
    font-family: Helvetica;
    color: #212353;
}

.feauteres__inner__paragraph {
    width: 220px;
    height: 160px;
    line-height: 160%;
    font-size: 16px;
    padding-right: 15px;

}

.variety__button {
    width: 8rem;
    background: transparent;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    font-weight: 800;
    font-size: 1rem;
    line-height: 160%;
    color: #212353;
}

.vector {
    height: 10px;
    width: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
}

.variety__button:hover {
    border-radius: 1rem;
    padding: 0px 5px;
}

.search__inner__text{
    width: 442px;
    height: 358px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;

}
.search__text{
    margin-right: 50px;
}

.search__image {
    margin-right: 30px;
    margin-left: -89px;
    width: 232px;
    height: 211px;
    padding-top: 20px;
}

.search__title {
    font-family: Helvetica;
    font-size: 24px;
    color: #212353;
    font-weight: 400;
}


.features__inner {
    width: 1117px;
    text-align: center;
    align-self: center;
}

.access__inner__text {
    background-repeat: no-repeat;
    width: 442px;
    height: 358px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-left: -43px;
}

.access__text {
    margin-right: 52px;
}

.access__title {
    font-size: 24px;
    line-height: 130%;
    color: #212353;
    font-weight: 400;
}

.access__image {
    width: 241px;
    height: 185px;
    margin-left: -115px;
}


.print-out__text {
    background-repeat: no-repeat;
    width: 442px;
    height: 358px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.print__text {
    margin-right: 50px;
    margin-left: 35px;
}

.print__image {
    width: 245px;
    height: 181px;
    margin-left: -109px;
    margin-top: 103px;
}


.print__title {
    font-size: 24px;
    line-height: 130%;
    color: #212353;
    font-weight: normal;
}

.security__inner {
    background-repeat: no-repeat;
    width: 442px;
    height: 358px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.security__image {
    width: 230px;
    height: 201px;
    margin-left: -100px;
}

.security__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #212353;
}

@media screen and (max-width: 768px) {
    .features {
        padding-top: 30px;
    }

    .features__inner {
        padding-top: 50px;
        width: auto;
        margin: auto;
    }

    .features__paragraph {
        margin-left: 0px;
        width: auto;
    }

    .features__variety {
        padding-top: 0px;
        justify-content: center;
    }

    .features__variety > * {
        margin-top: 20px;
        width: 280px;
        background-position-y: top;
        justify-content: center;
        align-items: center;
    }

    .feauteres__inner__paragraph {
        font-size: 1.125rem;
        margin-top: 10px;
    }

    .features__variety > * > * {
        margin: 0;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .features__variety > * > * img {
        display: none;
    }

    .features__variety button {
        display: none;
    }

    .features__variety > * > * > * {
        margin-left: auto;
        margin-right: auto;
    }

    .search__title {
        margin: 0;
    }


}