body {
    font-family: "Avenir", sans-serif;
    color: #4B5D68;
    background: #E5E5E5;
}

@media screen and (max-width: 768px) {
    body {
        text-align: center;
    }
}

a {
    text-decoration: none;
    
}

li {
    display: block;
}

button {
    border: 0;
}

/* Global classes */

.container {
    max-width: 1120px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 20px;
        margin: 0;
    }
}

.default-button {
    border-radius: 50px;
    width: 170px;
    padding: 15px 37px;
    height: 60px;
}

