body {
    font-family: "Avenir", sans-serif;
    color: #4B5D68;
    background: #E5E5E5;
}


a {
    text-decoration: none;
    
}

li {
    display: block;
}

button {
    border: 0;
}

/* Global classes */

.container {
    margin: 0 auto;
    max-width: 1120px;
}

.default-button {
    border-radius: 50px;
    width: 170px;
    padding: 15px 37px;
    height: 60px;
}

