.intro__inner {
    width: 1117px;
    height: 560px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 3.125rem;
    padding-bottom: 150px;
    margin-left: -61px;
}

.intro__inner {
    background-image: url(../images/section-image1.png);
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    align-items: center;
}

.intro_text {
    align-items: center;
    margin-right: 93px;
}

.intro__title {
    font-size: 40px;
    line-height: 130%;
    color: #212353;
    padding-left: 550px;
    padding-top: 224px;

}

.intro__paragraph {
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    width: 474px;
    top: 1168.18px;
    padding-left: 550px;
    padding-top: 40px;
}

@media screen and (max-width: 768px) {
    .intro {
        padding-top: 50px;
    }

    .intro__inner {
        background: none;
        padding-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .intro__text {
        background: rgba(240, 99, 184, 0.15);
        border-radius: 3.125rem;

    }

    .intro__title {
        padding: 0px 15px;
    }


    .intro__paragraph {
        padding: 0px 15px;
        
    }
}